.ipynb_checkpoints/
*.pyc
*.pt
*.so
*.o
*.prof
.nfs*
*.cpp
.vscode
*.swp
__pycache__/
.~*.ipynb
.DS_Store

#cached_user_data/
dashboard_temp_files/

nlp_suite/chatbot/legacy
data/
discord_dataset/
nlp_suite/text_analysis/discord-v1
nlp_suite/text_analysis/cluster0
nlp_suite/text_analysis/cluster1
nlp_suite/text_analysis/cluster2
nlp_suite/text_analysis/cluster3
nlp_suite/text_analysis/cluster4